
      h1 {
        font-size: 70px;
        color: blueviolet;
        background-color: black;
         height: 250px;
         text-align: center;
      }

      h2 {
        font-size: 15px;
        color: rgb(188, 111, 44);
        
      }

      .rainbow-line {
        height: 5px;
        width: 100%;
        position: relative;
        z-index: 2;
        background-image: linear-gradient(to right, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%)
    }

    .h1race {
        font-size: 70px;
        color: #e0e1dd;
        background-color: #415a77;
         height: 200px;
         text-align: center;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      a {
        text-decoration: none;
      }

      button:hover {
        background-color: #415a77;
        color: white;
      }

      a:hover {
        text-decoration: underline;
        color: pink;
      }

      a > h2:hover {
        text-decoration: underline;
        color: #14b9d5;
        background-color: aliceblue;
      }

      input[type=radio]:checked {
        box-shadow: #14b9d5;
      }

      .square {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border: 0px solid black;
      }
      #board {
        display: flex;
        margin: 0 auto;
        width: 500px;
        flex-wrap: wrap;
      }

      .square:nth-of-type(even) {
        background-color: #c1121f;
    }
    
    .square:nth-of-type(odd) {
        background-color: #003049;
    }